
* {
	
	margin: 0;
	padding: 0;
	
}

header {
	
	background-color: brown;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	line-height: 50px;
	text-align: center;
	color: white;
	transition: height 1s, line-height 1s, font-size 1s;
	font-size: 24px;
	margin-bottom: 5vh;
	
}

header:hover {
	
	height: 85px;
	line-height: 85px;
	font-size: 30px;
	
}

section {
	
	display: grid;
	grid-template: 
		"a a b b" 27vh 
		"c c d d" 27vh 
		"e e d d" 27vh;
	
}

article {
	
	background-color: lightpink;
	height: 25vh;
	width: 49vw;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid black;
	position: relative;
}

article:nth-child(1) {
	
	grid-area: a;
}

article:nth-child(2) {
	
	grid-area: b;
}

article:nth-child(3) {
	
	grid-area: c;
}

article:nth-child(4) {
	
	grid-area: d;
	height: 52vh;
}

article:nth-child(5) {
	
	grid-area: e;
}


article p {
	
	text-align: center;
	margin-top: 20px;
	font-size: 24px;
	color: black;
	text-decoration: underline;
	
}

@keyframes cubespin {
	
	0% { transform: rotate(0); background-color: white }
	10 { background-color: lightred; }
	20% { background-color: red; }
	30% { background-color: orange; }
	40% { background-color: yellow; }
	50% { background-color: green; }
	60% { background-color: lightblue; }
	70% { background-color: blue; }
	80% { background-color: purple; }
	90% { background-color: black; }
	100% { transform: rotate(360deg); background: white; }
	
}

article:nth-child(1) div {
	
	width: 75px;
	height: 75px;
	background-color: grey;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	animation: cubespin 4s linear infinite;
	border: 2px solid black;
}

@keyframes ball {
	
    0%{
        top: 50px;
        right: 625px;
		opacity: 100%;
    }
    10% {
        top: 105px;
        right: 475px;
    }
    30% {
        top: 70px;
        right: 325px;
    }
    55% {
        top: 105px;
        right: 200px;
    }
    90% {
        top: 90px;
        right: 110px;
    }
	100% {
        top: 50px;
        right: 625px;
		opacity: 0;
    }
}

article:nth-child(2) div:nth-child(2) {
	
	height: 40px;
	width: 40px;
	background-color: white;
	position: absolute;
	border-radius: 100%;
	border: 2px solid black;
	top: 50px;
	right: 625px;
	animation: ball 3s forwards linear infinite;
}

article:nth-child(2) div:nth-child(3) {
	
	height: 10px;
	width: 700px;
	background-color: black;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	border: 2px solid white;
}

@keyframes load {
	
	from { width: 35px;}
	to { width: 395px; }
	
}

article:nth-child(3) div:nth-child(2) {
	
	height: 40px;
	width: 400px;
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	border: 2px solid black;
}

article:nth-child(3) div:nth-child(3) {
	
	height: 35px;
	width: 35px;
	background-color: lightgreen;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid white;
	position: absolute;
	top: 81px;
	left: 179px;
	animation: load 3s forwards ease-in infinite;
}

article:nth-child(5) div {
	
	height: 25px;
	width: 25px;
	position: absolute;
	text-align: center;
	line-height: 25px;
	color: lightpink;
	
}

@keyframes queue {
	
	0% { left: 150px; top: 70px; background-color: red; border: 1px solid black; color: white; transform: rotate(0deg); }
	25% { left: 550px; top: 70px; background-color: green; border: 1px solid black; color: white; transform: rotate(90deg); }
	50% { left: 550px; top: 110px; background-color: blue; border: 1px solid black; color: white; transform: rotate(180deg); }
	75% { left: 150px; top: 110px; background-color: yellow; border: 1px solid black; color: white; transform: rotate(270deg); }
	100% { left: 150px; top: 70px; background-color: red; border: 1px solid black; color: white; transform: rotate(360deg); }
	
}

article:nth-child(5) div:nth-child(2) {
	
	animation: 4s ease-in 0s queue infinite
	
}

article:nth-child(5) div:nth-child(3) {
	
	animation: 4s ease-in 1s queue infinite
	
}

article:nth-child(5) div:nth-child(4) {
	
	animation: 4s ease-in 2s queue infinite
	
}

article:nth-child(5) div:nth-child(5) {
	
	animation: 4s ease-in 3s queue infinite
	
}

article:nth-child(4) div {
	
	border: 1px solid black;
	border-radius: 100%;
	position: absolute;
	width: var(--size);
	height: var(--size);
	left: calc(50% - var(--size)/2);
	top: calc(60% - var(--size)/2);
	
}

article:nth-child(4) div:nth-child(2) {
	
	--size: 30px;
	background-color: yellow;
	
}

article:nth-child(4) div:nth-child(3) {
	
	--size: 5px;
	background-color: gray;
	animation: mercury 2s linear infinite;
	
}

article:nth-child(4) div:nth-child(4) {
	
	--size: 7.5px;
	background-color: goldenrod;
	animation: venus 3s linear infinite;
	
}

article:nth-child(4) div:nth-child(5) {
	
	--size: 10px;
	background-color: skyblue;
	animation: earth 4s linear infinite;
	
}

article:nth-child(4) div:nth-child(6) {
	
	--size: 7.5px;
	background-color: darkred;
	animation: mars 5s linear infinite;
	
}

article:nth-child(4) div:nth-child(7) {
	
	--size: 17px;
	background-color: darkorange;
	animation: jupiter 9s linear infinite;
	
}

article:nth-child(4) div:nth-child(8) {
	
	--size: 15px;
	background-color: wheat;
	animation: saturn 11s linear infinite;
	
}

article:nth-child(4) div:nth-child(9) {
	
	--size: 12.5px;
	background-color: blue;
	animation: uranus 13s linear infinite;
	
}

article:nth-child(4) div:nth-child(10) {
	
	--size: 10px;
	background-color: darkblue;
	animation: neptune 14s linear infinite;
	
}

@keyframes mercury {
	
	from { transform: rotate(0) translateX(30px); }
	to { transform: rotate(360deg) translateX(30px);}
	
}

@keyframes venus {
	
	from { transform: rotate(0) translateX(45px); }
	to { transform: rotate(360deg) translateX(45px);}
	
}

@keyframes earth {

	from { transform: rotate(0) translateX(60px); }
	to { transform: rotate(360deg) translateX(60px);}
	
}

@keyframes mars {
	
	from { transform: rotate(0) translateX(75px); }
	to { transform: rotate(360deg) translateX(75px);}
	
}

@keyframes jupiter {
	
	from { transform: rotate(0) translateX(95px); }
	to { transform: rotate(360deg) translateX(95px);}
	
}

@keyframes saturn {
	
	from { transform: rotate(0) translateX(105px); }
	to { transform: rotate(360deg) translateX(105px);}
	
}

@keyframes uranus {
	
	from { transform: rotate(0) translateX(115px); }
	to { transform: rotate(360deg) translateX(115px);}
	
}

@keyframes neptune {
	
	from { transform: rotate(0) translateX(125px); }
	to { transform: rotate(360deg) translateX(125px);}
	
}	